.login {
  text-align: right;
}

.register {
  margin-top: 1em;
  margin-right: 2em;
}

.register {
  float: right;
}

.zip-code {
  width: 30em;
}

.main-subtitle {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 700 !important;
}

.landing-card {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: -50px;
}